**/__pycache__/
/.idea/
/__pycache__/
/constructors/__pycache__/
/pattern_encoders/__pycache__/
/preprocessors/__pycache__/

!/output/.gitkeep
/output/

!/performance/.gitkeep
/performance/

!/raw_data/.gitkeep
/raw_data/

!/meta-output/.gitkeep
/meta-output/

/venv/
